* {
  box-sizing: border-box;
}
body {
  overflow-y: scroll; 
  scroll-behavior: smooth;
}
canvas {
  position : fixed ;
  top : 0;
  left: 0;
  
}
.content{
  position: absolute;
  color : white ;
  width: 95%;
  /* overflow-y: scroll;  */
  scroll-snap-type: y mandatory;
  -webkit-snap-type : y mandatory;
}
section{
  height : 100vh ;
  /* Scroll Snap */
  /* border : 5px solid yellow ; */
  width: inherit;
  scroll-snap-align: center;
  -webkit-snap-align : center ;
  margin: 10% auto;
  overflow: hidden;
}
.section__content{
  width : 20wv ;
}
.scrolled{
  /* border : 5px solid yellow ; */
}